black[jupyter]==22.3.0
isort
manubot==0.5.1
prefect>=1,<2
pandas
python-docx==0.8.11
myst-parser==0.16.1
sphinx==4.3.2
nb_black
matplotlib
papermill
jupyter
jupyterlab
jupyterlab_code_formatter
ratelimit>=2.2
citeproc-py>=0.6
pandoc
diskcache
python-box[all]
pyarrow
pytest>=7
jsonpath-ng
yamllint
sklearn
dvc
plotly
jupyter-dash